- @title_for_layout = "Dashboard"
- @body_id = "dashboard"

= render :partial => "shared/header"

%h1 Dashboard

#stage
  #left
    = render :partial => "shared/profile_picture"
  
    = link_to "Edit profile", edit_profile_path(current_user), :class => "button white social_option"
    = link_to "View profile", profile_path(current_user.username), :class => "button white social_option"
  
  #right
    .box#thoughts
      %h2 What's on your mind?
      = form_for @thought, :remote => true do |f|
        = f.text_area :description, :class => :textbox, :id => :thoughts_box
        = f.submit :value => "Share", :class => "button blue", :id => "share_thought"
          
    .box#places_list
      %h2 Places
      
      .form_row
        %b Random places
        %ul.places_list
          - @random_places.each do |place|
            %li
              = link_to place_path(place) do
                - if place.primary_image.nil?  
                  = image_tag "restaurant_silhouette.png", :class => :place, :title => place.name
                - else
                  = image_tag place.primary_image, :class => :place, :title => place.name
                  
    .box#inbox_messages
      %h2 Messages (#{@messages.count})
      - if @messages.count == 0
        You have no new messages
      - else
        = render :partial => "shared/messages_list"
              
        = link_to "View All Messages", messages_path
        
    .box#followed
      %h2 Following
      %ul.follow_list.clearfix
        - @following.each do |user|
          = link_to profile_path(user.username) do
            = image_tag user.avatar.url(:thumb), :class => :profile_photo
      
    .box#followers
      %h2 Followers
      %ul.follow_list.clearfix
        - @followers.each do |user|
          = link_to profile_path(user.username) do
            = image_tag user.avatar.url(:thumb), :class => :profile_photo
      
  .clearfloat