- @title_for_layout = "Dashboard"
- @body_id = "dashboard"

= render :partial => "shared/header"

%h1 Dashboard

#stage
  #left
    #picture
      #frame
        = image_tag current_user.gravatar_url
      %h3 #{@profile.firstname} #{@profile.lastname}
      = link_to "Edit profile", edit_profile_path(current_user)
      = link_to "View profile", profile_path(current_user)
  
  #right
    .box#thoughts
      %h2 What's on your mind?
      = form_for @thought, :remote => true do |f|
        = f.text_area :description, :class => :textbox, :id => :thoughts_box
        = f.submit :value => "Share", :class => "button blue", :id => "share_thought"
      
    .box#dates
      %h2 Your dates
      
    .box#messages
      %h2 Messages (0)
      
    .box#account_settings
      %h2 Account settings
    
  .clearfloat