- @title_for_layout = "Dashboard"
- @body_id = "dashboard"

= render :partial => "shared/header"

%h1.page_header Dashboard

#stage
  #left
    #picture_wrapper
      #frame
        = image_tag current_user.avatar.url(:thumb), :alt => current_user.username
      = link_to "Edit profile", edit_profile_path(current_user), :class => "button white"
      
    = link_to "View profile", profile_path(current_user.username), :class => "button white social_option"
  
  #right
  
    .box#calendar
      %h2.header Your dating calendar
      .content
        .embossed_box#dating_calendar_wrapper
          #dating_calendar
  
    .box#thoughts
      %h2.header What's on your mind?
      .content
        .embossed_box
          = form_for @thought, :remote => true do |f|
            = f.text_area :description, :class => :textbox, :id => :thoughts_box
            = f.submit :value => "Share", :class => "button blue", :id => "share_thought"
          
    .box
      %h2.header Places you might like
      .content
        %ul.places_listing
          - @random_places.each do |place|
            %li.clearfix.white.place
              = link_to place_path(place) do
                - primary_image_url = place.primary_image
                - if primary_image_url.nil?
                  = image_tag "restaurant_silhouette.png", :class => :place_photo
                - else
                  = image_tag primary_image_url, :class => :place_photo
              .place_overview
                %h3.place_name
                  = link_to place.name, place_path(place)
                .place_short_description
                  %p= truncate(place.description, :length => 100)
                .place_location #{place.city}, #{place.state}
              .place_other_info
                .clearfix.ratings= place.rating_average
                .comments
                  %span= place.count_likes 
                  %span.caption likes

                .visits
                  %span= place.count_visits
                  %span.caption visits
          
        = link_to "View all places", places_path, :class => "button rosy"
                  
    .box#inbox_messages
      %h2.header Messages (#{@messages.count})
      .content
        - if @messages.count == 0
          You have no new messages
        - else
          = render :partial => "shared/messages_list", :locals => {:show_profile_link => false}
              
          = link_to "View All Messages", messages_path, :class => "button rosy"
        
    .box#followed
      %h2.header Following
      .content
        - if @following.size > 0
          %ul.follow_list.clearfix
            - @following.each do |user|
              %li
                = link_to profile_path(user.username) do
                  = image_tag user.avatar.url(:thumb), :class => :profile_photo
        - else
          %p You're not following anybody
      
    .box#followers
      %h2.header Followers
      .content
        - if @followers.size > 0
          %ul.follow_list.clearfix
            - @followers.each do |user|
              %li
                = link_to profile_path(user.username) do
                  = image_tag user.avatar.url(:thumb), :class => :profile_photo
        - else
          %p You don't have any followers
        
    .box#places_you_been
      %h2.header Places you've been to
      .content
        - if @visited_places.size > 0
          = render :partial => "shared/places_list", :locals => {:places => @visited_places}
        - else
          %p You haven't been to any places yet
        = link_to "Check out other places", places_path, :class => "button rosy"
        
    .box#places_you_like
      %h2.header Places you like
      .content
        - if @liked_places.size > 0
          = render :partial => "shared/places_list", :locals => {:places => @liked_places}
        - else
          %p You don't have any favorite places yet
        = link_to "Check out other places", places_path, :class => "button rosy"
      
  .clearfloat
  
= render 'dating_calendar'