- @title_for_layout = "Dashboard"
- @body_id = "dashboard"

= render :partial => "shared/header"

%h1 Dashboard

#stage
  #left
    = render :partial => "shared/profile_picture"
  
    = link_to "Edit profile", edit_profile_path(current_user), :class => "button white social_option"
    = link_to "View profile", profile_path(current_user), :class => "button white social_option"
  
  #right
    .box#thoughts
      %h2 What's on your mind?
      = form_for @thought, :remote => true do |f|
        = f.text_area :description, :class => :textbox, :id => :thoughts_box
        = f.submit :value => "Share", :class => "button blue", :id => "share_thought"
      
    .box#dates
      %h2 Your dates
      
    .box#messages
      %h2 Messages (#{@messages.count})
      - if @messages.count == 0
        You have no new messages
      - else
        %ul.messages_list
          - @messages.each do |message|
            - sender = message.sender
            - profile = sender.profile
            %li
              = link_to message_path(message), :class => :show_message_details do
                = image_tag sender.avatar.url, :class => :profile_photo
                %span.content
                  %b.author #{profile.firstname} #{profile.lastname}
                  %span= message.content
              
        = link_to "View all", messages_path
      
    .box#followers
      %h2 Your followers
      
    .box#followed
      %h2 People you follow
      
    .box#account_settings
      %h2 Account settings
    
  .clearfloat