- @title_for_layout = "#{@profile.firstname} #{@profile.lastname}"
- @body_id = "profile"

= render :partial => "shared/header"

%h1= @title_for_layout

#stage
  #left
    #picture
      #frame
        = image_tag @user.gravatar_url
        
      Member since #{@profile.created_at.strftime("%b, %Y")}
      
    - unless current_user.id == @user.id
      - unless current_user.following?(@user)
        %span{:id => :follow_user, :class => "button white", :followed_id => @user.id} Follow this user
      - else
        %span{:id => :following_indicator, :class => "button green", :followed_id => @user.id} Following
        
  #right
    .box#profile_details
      %h2 Profile
      %ul
        - location = []
        - location << @profile.city unless @profile.city.blank?
        - location << @profile.state unless @profile.state.blank?
        - location << Carmen.country_name(@profile.country) unless @profile.country.blank?
        - unless location.join(", ").blank?
          %li 
            %b Location: 
            #{location.join(", ")}
        %li 
          %b Phone Number: 
          #{@profile.phone_number.blank? ? "N/A" : @profile.phone_number}
        
        - unless @profile.birth_day.blank? or @profile.birth_month.blank? or @profile.birth_year.blank?
          %li 
            %b Birthday: #{@profile.birth_month} #{@profile.birth_day}, #{@profile.birth_year}
            
        %li
          %b Relationship status:
          #{@profile.relationship_status.blank? ? "N/A" : @profile.relationship_status}
            
        %li
          %b Occupation: 
          #{@profile.occupation.blank? ? "N/A" : @profile.occupation}
          
        - unless @profile.school.blank?
          %li
            %b School #{@profile.school.blank? ? "N/A" : @profile.school}
            
        - unless @profile.company.blank?
          %li
            %b Company #{@profile.company.blank? ? "N/A" : @profile.company}
        
        %li 
          %b Languages: 
          #{@profile.languages.blank? ? "N/A" : @profile.languages}
        %li 
          %b Hobbies: 
          #{@profile.hobbies.blank? ? "N/A" : @profile.hobbies}
        %li 
          %b About me: 
          #{@profile.description.blank? ? "N/A" : @profile.description}
          
    .box#thoughts
      %h2 What's on #{@profile.firstname}'s mind
      
      - if @recent_thoughts.size > 0
        %ul
          - @recent_thoughts.each do |thought|
            %li= thought.description
      - else
        %p #{@profile.firstname} has not shared any thought yet
          
    .box#profile_recent_activities
      %h2 Recent activity
      
      %ul
        - @recent_activities.each do |activity|
          %li #{activity.activity_description} - #{activity.created_at.strftime("%b %d, %Y")}
      
  
  .clearfloat
    