- @title_for_layout = "#{@profile.firstname} #{@profile.lastname}"
- @body_id = "profile"
- @body_class = "profile"

#profile_top_wash.clearfix.page_header
  #profile_header_left
    %h1#profile_name_header= @title_for_layout
  
    - hours_passed_since_last_logged_in = hours_passed(@user.last_sign_in_at)

    %p
      %b Last login:
      - if hours_passed_since_last_logged_in == 0
        just a little while ago
      - else
        #{hours_passed_since_last_logged_in} hours ago

#stage
  #left
    #picture_wrapper
      #frame
        = image_tag @user.avatar.url(:thumb), :alt => @user.username
    
      - if user_signed_in? and current_user.id == @user.id
        = link_to "Edit Profile", edit_profile_path(@profile), :class => "button white", :id => :edit_my_profile
    
    - unless @profile.facebook.blank? and @profile.twitter.blank? and @profile.flickr.blank? and @profile.linkedin.blank?
      #profile_social_networks.embossed_box
        - unless @profile.facebook.blank?
          %a{:href => @profile.facebook, :target => "_blank"}
            = image_tag "facebook_16.png", :alt => :Facebook
        
        - unless @profile.twitter.blank?
          %a{:href => @profile.facebook, :target => "_blank"}
            = image_tag "twitter_16.png", :alt => :Twitter
        
        - unless @profile.flickr.blank?
          %a{:href => @profile.flickr, :target => "_blank"}
            = image_tag "flickr_16.png", :alt => :Flickr
        
        - unless @profile.linkedin.blank?
          %a{:href => @profile.linkedin, :target => "_blank"}
            = image_tag "linkedin_16.png", :alt => :Linkedin
    
    #follows_count_wrapper.embossed_box
      %ul#follows_count.clearfix
        %li
          %span Following
          %p.count= @user.following.count
        
        %li 
          %span Followers
          %p.count= @user.followers.count
    
    - if user_signed_in?  
      - unless current_user.id == @user.id
        - unless current_user.following?(@user)
          %span{:id => :follow_user, :class => "button white social_option", :followed_id => @user.id} Follow this user
        - else
          %span{:id => :following_indicator, :class => "button green social_option", :followed_id => @user.id} Following
    
    - if user_signed_in?    
      - unless current_user.id == @user.id
        %span{:id => :direct_message, :class => "button white social_option", :receiver_id => @user.id} Message this user
        
  #right
    .box#profile_details
      %h2.header 
        My profile
      .content
        .tabs_wrapper
          %ul.tabs.clearfix
            %li.current{:tab => :overview} Overview
            %li{:tab => :about} About me
            %li{:tab => :looking_for} What I'm looking for
          
        #overview.tab_content
          - unless @profile.description.blank?
            .embossed_box
              %p
                = image_tag "quote_16.png", :class => :profile_illustration
                = @profile.description
        
          
          %ul.profile_details.embossed_box
            - location = []
            - location << @profile.city unless @profile.city.blank?
            - location << @profile.state unless @profile.state.blank?
            - unless location.join(", ").blank?
              %li
                = image_tag "location_16.png", :class => :profile_illustration
                %b Location: 
                #{location.join(", ")}
            %li
              = image_tag "phone_16.png", :class => :profile_illustration
              %b Phone Number: 
              #{@profile.phone_number.blank? ? "Not specified" : @profile.phone_number}
      
            - unless @profile.birth_day.blank? or @profile.birth_month.blank? or @profile.birth_year.blank?
              %li
                = image_tag "cake_16.png", :class => :profile_illustration
                %b Birthday: 
                #{@profile.birth_month} #{@profile.birth_day}, #{@profile.birth_year}
          
            %li
              = image_tag "heart_16.png", :class => :profile_illustration
              %b Relationship status:
              #{@profile.relationship_status.blank? ? "Not specified" : @profile.relationship_status}
          
            %li
              = image_tag "job_16.png", :class => :profile_illustration
              %b Occupation: 
              #{@profile.occupation.blank? ? "Not specified" : @profile.occupation}
        
            - unless @profile.school.blank?
              %li
                = image_tag "school_16.png", :class => :profile_illustration
                %b School: 
                #{@profile.school.blank? ? "Not specified" : @profile.school}
          
            %li
              = image_tag "company_16.png", :class => :profile_illustration
              %b Company: 
              #{@profile.company.blank? ? "Not specified" : @profile.company}
        
            %li
              = image_tag "language_16.png", :class => :profile_illustration
              %b Languages: 
              #{@profile.languages.blank? ? "Not specified" : @profile.languages}
            
            %li.last
              = image_tag "basketball_16.png", :class => :profile_illustration
              %b Hobbies: 
              #{@profile.hobbies.blank? ? "Not specified" : @profile.hobbies}
              
        #about.tab_content{:style => "display:none"}
          .embossed_box
            %ul.profile_details
              %li
                %b Most attractive feature:
                = @profile.most_attractive_feature.blank? ? "Not specified" : @profile.most_attractive_feature
              %li
                %b Ethnicity:
                = @profile.ethnicity.blank? ? "Not specified" : @profile.ethnicity
              %li
                %b Height:
                = @profile.height.blank? ? "Not specified" : @profile.height
              %li
                %b Body type:
                = @profile.body_type.blank? ? "Not specified" : @profile.body_type
              %li
                %b Hair color:
                = @profile.hair_color.blank? ? "Not specified" : @profile.hair_color
              %li
                %b Eye color:
                = @profile.eye_color.blank? ? "Not specified" : @profile.eye_color
              %li
                %b Tattoos:
                = @profile.tattoos.blank? ? "Not specified" : @profile.tattoos
              %li
                %b Piercings:
                = @profile.piercings.blank? ? "Not specified" : @profile.piercings
              %li
                %b Zodiac sign:
                = @profile.zodiac.blank? ? "Not specified" : @profile.zodiac
              %li
                %b Religion:
                = @profile.religion.blank? ? "Not specified" : @profile.religion
              %li
                %b Exercise:
                = @profile.exercise.blank? ? "Not specified" : @profile.exercise
              %li
                %b Smoking:
                = @profile.smoking.blank? ? "Not specified" : @profile.smoking
              %li
                %b Drinking:
                = @profile.drinking.blank? ? "Not specified" : @profile.drinking
              %li
                %b Kids:
                = @profile.kids.blank? ? "Not specified" : @profile.kids
              %li.last
                %b Pets:
                = @profile.pets.blank? ? "Not specified" : @profile.pets
              
        #looking_for.tab_content{:style => "display:none"}
          .embossed_box
            %ul.profile_details
              %li
                %b Gender:
                = @profile.looking_for_gender.blank? ? "Not specified" : @profile.looking_for_gender
              %li
                %b No younger than:
                = @profile.looking_for_age_min.blank? ? "Not specified" : @profile.looking_for_age_min
              %li
                %b No older than:
                = @profile.looking_for_age_max.blank? ? "Not specified" : @profile.looking_for_age_max
              %li
                %b Ethnicity:
                = @profile.looking_for_ethnicity.blank? ? "Not specified" : @profile.looking_for_ethnicity
              %li
                %b Body type:
                = @profile.looking_for_body_type.blank? ? "Not specified" : @profile.looking_for_body_type
              %li.last
                %b Location:
                = @profile.looking_for_location.blank? ? "Not specified" : @profile.looking_for_location
              
          - unless @profile.partner_expectation.blank?
            .embossed_box
              %p 
                = image_tag "star_16.png", :class => :profile_illustration
                In my ideal world, a great partner is one that
              %pre.form_row= @profile.partner_expectation
              
          
    .box#thoughts
      %h2.header What's on my mind
      .content
        - if @recent_thoughts.size > 0
          %ul
            - @recent_thoughts.each do |thought|
              %li= thought.description
        - else
          %p #{@profile.firstname} has not shared any thought yet
          
    .box#profile_recent_activities
      %h2.header Recent activity
      .content
        %ul
          - @recent_activities.each do |activity|
            %li #{activity.activity_description} - #{activity.created_at.strftime("%b %d, %Y")}
            
    .box#profile_albums
      %h2.header Photos
      .content
        - if @albums.length > 0
          = render :partial => "shared/albums_listing", :locals => {:albums => @albums}
        - else
          #{@profile.firstname} doesn't have any album
          
    .box
      %h2.header Places I've visited
      .content
        - if @visited_places.size > 0
          = render :partial => "shared/places_list", :locals => {:places => @visited_places}
        - else
          %p #{@profile.firstname} has not visited any places yet
      
  
  .clearfloat
  
- if user_signed_in?
  - @message = Message.new
  #pop_dialog.pop_dialog{:style => "display:none"}
    %h2.header 
      New message
    .content
      = form_for @message, :remote => true do |f|
        .form_row
          = f.label :subject
          = f.text_field :subject, :class => :textbox
        .form_row
          = f.label :content
          = f.text_area :content, :class => :textbox
        = f.hidden_field :receiver_id, :value => @user.id
        = f.hidden_field :sender_id, :value => current_user.id
        .button_container
      
          = f.submit :value => "Send", :class => :action_button
        
          %input{:type => :button, :class => "remorse_button cancel_pop_dialog", :value => "Cancel", :id => "cancel_message"}