- @title_for_layout = "#{@profile.firstname} #{@profile.lastname}"
- @body_id = "profile"

= render :partial => "shared/header"

%h1= @title_for_layout

#stage
  #left
    #picture
      #frame
        = image_tag @user.avatar.url(:thumb)
    
    %br
    
    - unless @profile.facebook.blank? and @profile.twitter.blank? and @profile.flickr.blank? and @profile.linkedin.blank?
      .box#profile_social_networks
        - unless @profile.facebook.blank?
          %a{:href => @profile.facebook, :target => "_blank"}
            = image_tag "facebook_16.png", :alt => :Facebook
        
        - unless @profile.twitter.blank?
          %a{:href => @profile.facebook, :target => "_blank"}
            = image_tag "twitter_16.png", :alt => :Twitter
        
        - unless @profile.flickr.blank?
          %a{:href => @profile.flickr, :target => "_blank"}
            = image_tag "flickr_16.png", :alt => :Flickr
        
        - unless @profile.linkedin.blank?
          %a{:href => @profile.linkedin, :target => "_blank"}
            = image_tag "linkedin_16.png", :alt => :Linkedin
    
    .box
      %ul#follows_count.clearfix
        %li
          %span Following
          %p.count= @user.following.count
        
        %li 
          %span Followers
          %p.count= @user.followers.count
      
    - unless current_user.id == @user.id
      - unless current_user.following?(@user)
        %span{:id => :follow_user, :class => "button white social_option", :followed_id => @user.id} Follow this user
      - else
        %span{:id => :following_indicator, :class => "button green social_option", :followed_id => @user.id} Following
        
    - unless current_user.id == @user.id
      %span{:id => :direct_message, :class => "button white social_option", :receiver_id => @user.id} Message this user
        
  #right
    .box#profile_details
      %h2 Profile
      %ul
        - location = []
        - location << @profile.city unless @profile.city.blank?
        - location << @profile.state unless @profile.state.blank?
        - location << Carmen.country_name(@profile.country) unless @profile.country.blank?
        - unless location.join(", ").blank?
          %li 
            %b Location: 
            #{location.join(", ")}
        %li 
          %b Phone Number: 
          #{@profile.phone_number.blank? ? "N/A" : @profile.phone_number}
        
        - unless @profile.birth_day.blank? or @profile.birth_month.blank? or @profile.birth_year.blank?
          %li 
            %b Birthday: #{@profile.birth_month} #{@profile.birth_day}, #{@profile.birth_year}
            
        %li
          %b Relationship status:
          #{@profile.relationship_status.blank? ? "N/A" : @profile.relationship_status}
            
        %li
          %b Occupation: 
          #{@profile.occupation.blank? ? "N/A" : @profile.occupation}
          
        - unless @profile.school.blank?
          %li
            %b School #{@profile.school.blank? ? "N/A" : @profile.school}
            
        - unless @profile.company.blank?
          %li
            %b Company #{@profile.company.blank? ? "N/A" : @profile.company}
        
        %li 
          %b Languages: 
          #{@profile.languages.blank? ? "N/A" : @profile.languages}
        %li 
          %b Hobbies: 
          #{@profile.hobbies.blank? ? "N/A" : @profile.hobbies}
        %li 
          %b About me: 
          #{@profile.description.blank? ? "N/A" : @profile.description}
          
    .box#thoughts
      %h2 What's on my mind
      
      - if @recent_thoughts.size > 0
        %ul
          - @recent_thoughts.each do |thought|
            %li= thought.description
      - else
        %p #{@profile.firstname} has not shared any thought yet
          
    .box#profile_recent_activities
      %h2 Recent activity
      
      %ul
        - @recent_activities.each do |activity|
          %li #{activity.activity_description} - #{activity.created_at.strftime("%b %d, %Y")}
          
    .box
      %h2 Places I've visited
      - if @visited_places.size > 0
        = render :partial => "shared/places_list", :locals => {:places => @visited_places}
      - else
        %p #{@profile.firstname} has not visited any places yet
      
  
  .clearfloat
  
- @message = Message.new
#pop_dialog.pop_dialog{:style => "display:none"}
  %h2.header 
    New message
  .content
    = form_for @message, :remote => true do |f|
      .form_row
        = f.label :subject
        = f.text_field :subject, :class => :textbox
      .form_row
        = f.label :content
        = f.text_area :content, :class => :textbox
      = f.hidden_field :receiver_id, :value => @user.id
      = f.hidden_field :sender_id, :value => current_user.id
      .button_container
      
        = f.submit :value => "Send", :class => "button green"
        
        %input{:type => :button, :class => "button red", :value => "Cancel", :id => "cancel_message"}