<%
@title_for_layout = "Sign up"
@body_id = "signup"
%>

<div class="devise_form">

  <h2>Sign up for Dating Over Meal</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="form_row">
      <%= f.text_field :firstname, :class => :textbox, :placeholder => "First name" %>
    </div>
    
    <div class="form_row">
      <%= f.text_field :lastname, :class => :textbox, :placeholder => "Last name" %>
    </div>

    <div class="form_row">
      <%= f.email_field :email, :class => :textbox, :placeholder => "Email address" %>
    </div>

    <div class="form_row">
      <%= f.password_field :password, :class => :textbox, :placeholder => "Password" %>
    </div>

    <div class="form_row">
      <%= f.password_field :password_confirmation, :class => :textbox, :placeholder => "Password confirmation" %>
    </div>

    <div class="form_row">
      <%= f.submit "Create account", :class => "button green" %>
    </div>
  <% end %>
  
  <footer>
    Already have an account? <%= link_to "Sign in here", new_user_session_path %>
  </footer>

</div>
