- @title_for_layout = "Upload picture"
- @body_id = "upload_avatar"

= render :partial => "shared/header"

%h1.page_header= @title_for_layout

= render :partial => "shared/flash_notice"

#stage
  #left
    = render :partial => "shared/profile_picture"
        
  #right
    .box
      %h2.header Upload from computer
      .content
        = form_for @user, :multipart => true do |f|
      
          = render :partial => "shared/form_errors", :locals => {:target => @user, :f => f}
          
          %p Please use JPEG, GIF or PNG and make sure the file size is not larger than 1MB
      
          .form_row
            = f.file_field :avatar
          
          = f.submit :value => "Upload", :class => "button orange"
    
    .box
      %h2.header Take a picture using your webcam
      .content
        #webcam_wrapper{:style => "display:none"}
          #webcam
          
          .panel
            %span.button.blue{:id => :capture_webcam} Capture
            %span.button.red{:id => :close_webcam} Cancel
        
        .form_row
          %input{:type => :button, :value => "Take picture", :class => "button orange", :id => :init_webcam}
  
:javascript
  function upload_complete(msg) {
      if (msg == 'ok') {
      } else {
        alert('An error occured');
        webcam.reset();
      }
    }

    webcam.set_swf_url('/webcam.swf');
    webcam.set_api_url("#{webcam_capture_path}");
    webcam.set_quality(90);
    webcam.set_shutter_sound(true, '/shutter.mp3');
    webcam.set_hook('onComplete', 'upload_complete');
    
    $(document).ready(function(){
      $("#init_webcam").click(function(){
        $("#overlay").show();
        $('#webcam').html(webcam.get_html(580, 496))
        $("#webcam_wrapper").show();
      })
      
      $("#close_webcam").click(function(){
        $("#webcam").html("")
        $("#webcam_wrapper").hide();
        $("#overlay").hide()
      })
      
      $("#capture_webcam").click(function(){
        webcam.snap()
      })
    })