%header#auth_header
  - if user_signed_in?
  
    #logo
      = link_to root_path do
        = image_tag "logo.png"
      
    #nav
      %ul
        %li
          Hi #{current_user.email}!
        %li
          = link_to "Dashboard", dashboard_path
        %li
          = link_to "Profile", profile_path(current_user.username)
        %li
          = link_to "Places", places_path
        %li
          = link_to "Members", users_path
        %li
          = link_to "Messages", messages_path
        %li
          = link_to "Sign out", destroy_user_session_path, :method => :delete
        %li
          %a{:href => "/help"} Help