%header#auth_header
  #middle_section
    #logo
      = link_to root_path do
        = image_tag "logo.png"
  
    - if user_signed_in?
      #nav
        %ul
          %li
            = link_to profile_path(current_user.username) do
              = image_tag current_user.avatar(:thumb), :id => :nav_profile_photo, :alt => current_user.username
              %span= current_user.username.truncate(8)
              
            %span.leaf_menu
              = link_to "Profile", profile_path(current_user.username)
              = link_to "Edit Profile", edit_profile_path(current_user.profile)
              = link_to "Logout", destroy_user_session_path, :method => :delete
              %a{:style => "border-bottom:0"} Account Settings
          
          %li{:class => @body_class == "dashboard" ? "current" : ""}
            = link_to dashboard_path do
              = image_tag "dash_24.png"
              %span Dashboard
          
          %li{:class => @body_class == "places" ? "current" : ""}
            = link_to places_path do
              = image_tag "place_24.png"
              %span Places
          
          %li{:class => @body_class == "users" ? "current" : ""}
            = link_to users_path do
              = image_tag "members_24.png"
              %span Members
          
          %li{:class => @body_class == "messages" ? "current" : ""}
            = link_to messages_path do
              = image_tag "message_24.png"
              %span Message
          
          %li{:class => @body_class == "albums" ? "current" : ""}
            = link_to albums_path do
              = image_tag "album_24.png"
              %span Albums
              
          %li{:class => @body_class == "videos" ? "current" : ""}
            = link_to videos_path do
              = image_tag "video_24.png"
              %span Videos