- @title_for_layout = "Home"
- @body_id = "home"

%header
  = link_to root_path do
    = image_tag "home_header.png"
    
  - if user_signed_in?
    = link_to "Dashboard", dashboard_path, :id => :login
  - else
    = link_to "Login", new_user_session_path, :id => :login

#collage
  #cta
    = link_to "Sign up", new_user_registration_path, :id => :signup
    = link_to "Take a tour", tour_path, :id => :take_a_tour