- @title_for_layout = "#{@album.title}"
- @body_id = "my_albums"
- @body_class = "albums"

= render :partial => "shared/header"

%h1.page_header= @title_for_layout

#stage
  #left
  
  #right
    %input{:type => :file, :id => :file_upload}

- session_key = Rails.application.config.session_options[:key]
  
:javascript
  $(function(){
  
    $("#file_upload").uploadify({
      uploader: '/uploadify.swf',
      wmode: 'transparent',
      buttonText: 'Select photos',
      auto: true,
      multi: true,
      script: '#{upload_photos_albums_path}',
      scriptData: {
        '#{Rails.application.config.session_options[:key]}': '#{cookies[session_key]}',
        '#{request_forgery_protection_token}': '#{form_authenticity_token}'
      }
      
    })
  })
  
