- @title_for_layout = "Edit album \"#{@album.title}\""
- @body_id = "my_albums"
- @body_class = "albums"

= render :partial => "shared/header"

%h1.page_header= @title_for_layout

= form_for(@album) do |f|
  #stage
    #left
  
    #right
      
      .form_row
        = f.label :title
        = f.text_field :title, :class => :textbox
      
      .form_row
        = f.label :description
        = f.text_area :description, :class => :textbox
        
      .form_row
        = f.label :location
        = f.text_field :location, :class => :textbox
    
      .form_row
        %input{:type => :file, :id => :file_upload}
      
      = f.submit :value => "Update", :class => "button green"

- session_key = Rails.application.config.session_options[:key]
  
:javascript
  $(function(){
  
    $("#file_upload").uploadify({
      uploader: '/uploadify.swf',
      wmode: 'transparent',
      buttonText: 'Select photos',
      auto: true,
      multi: true,
      script: '#{upload_photos_album_path(@album)}',
      scriptData: {
        '#{Rails.application.config.session_options[:key]}': '#{cookies[session_key]}',
        '#{request_forgery_protection_token}': '#{form_authenticity_token}'
      },
      onOpen: function() {
        window.flash_alert("Your images are being uploaded. This might take a few moments");
      },
      onAllComplete: function() {
        window.flash_alert("All your images have been completed uploaded");
        window.location.href = '#{album_path(@album)}';
      }
      
    })
  })
  
- content_for :head do
  - stylesheet_link_tag "uploadify.css"