- @title_for_layout = "My photos"
- @body_id = "my_albums"
- @body_class = "albums"

= render :partial => "shared/header"

%h1.page_header= @title_for_layout

= render :partial => "shared/flash_notice"

#stage
  #left
  
  #right
  
    %h3 You are having #{@albums.count} albums
    
    %br
    
    %ul
      - @albums.each do |album|
        %li
          = link_to album.title, edit_album_path(album) 
          |
          = link_to "Edit", edit_album_path(album)
          |
          = link_to "View", album_path(album)
          |
          = link_to "Delete", album_path(album), :method => :delete, :confirm => "Are you sure?"
    
    %br
  
    = link_to "Create new album", new_album_path, :class => :action_button
  
  .clearfloat