- @title_for_layout = "My albums"
- @body_id = "my_albums"
- @body_class = "albums"

= render :partial => "shared/header"

%h1.page_header= @title_for_layout

= render :partial => "shared/flash_notice"

#stage
  #left
  
  #right
  
    .box
      %h2.header Albums
      .content
        %ul.albums_listing.clearfix
          - @albums.each do |album|
            %li
              = link_to album_path(album) do
                - if album.images.size == 0
                  = image_tag "album_sil.jpg", :class => :album
                - else
                  = image_tag album.images.first.picture.url(:thumb), :class => :album
                  
              .name 
                = album.title
              - num_photos = album.images.length
              .photos_count 
                (#{pluralize(num_photos, "photo")})
  
    = link_to "Create new album", new_album_path, :class => :action_button
  
  .clearfloat