- @title_for_layout = "#{@album.title}"
- @body_id = "my_albums"
- @body_class = "albums"

= render :partial => "shared/header"

%h1.page_header= @title_for_layout

#stage
  #left
  #right
    .box
      %h2.header Photos
      .content
        %div{:style => "margin-bottom:15px; text-align:right"}
          = link_to "Edit this album", edit_album_path(@album), :class => :action_button, :id => :edit_album
          &nbsp;&nbsp;
          = link_to "Delete this album", album_path(@album), :class => :remorse_button, :method => :delete, :confirm => "Are you sure? All your photos will be deleted."
          
        .embossed_box
          - if @images.length > 0
            %ul.photos_listing.clearfix
              - @images.each do |image|
                %li
                  %a{:href => image.picture.url, :class => :fancybox}= image_tag image.picture.url(:thumb)
          - else
            %p This album does not have any images
  
  .clearfloat