- @body_id = "appointment"
- @title_for_layout = "Appointment"

= render :partial => "shared/header"

%h1.page_header= @title_for_layout

- place = @appointment.place
- invitee = @appointment.invitee
- invitee_profile = invitee.profile

#stage
  #left
    #picture_wrapper
      #frame
        - if place.images.size == 0
          = image_tag place.images.first.url
        - else
          = image_tag "restaurant_silhouette.png"
  
  #right
    .box
      %h2.header= Appointment
      
      .content
        .embossed_box{:style => "margin:0"}
          %table#event_details{:border => 0, :cellpadding => 0, :cellspacing => 0}
            %tr
              %td Time: 
              %td #{@appointment.date.strftime("%A %m/%d/%Y at %I:%M %P")}
            %tr
              %td Location:
              %td 
                %p= link_to place.name, place_path(place)
                %p= place.street_address
                %p #{place.city}, #{place.state}, #{place.zipcode}
            %tr
              %td Your date:
              %td
                = link_to profile_path(invitee.username) do
                  = image_tag invitee.avatar.url(:thumb), :class => :profile_photo, :title => invitee.username
            %tr
              %td Note:
              %td
                = @appointment.note
            %tr.last
              %td
              %td
                = link_to "Edit", edit_appointment_path(@appointment), :class => "orange button"
                &nbsp;
                = link_to "Cancel this date", edit_appointment_path(@appointment), :method => :delete, :confirm => "Are you sure? Your date might be heart-broken", :class => "red button"