- @title_for_layout = 'Places'
- @body_id = 'places'

= render :partial => "shared/header"

%h1= @title_for_layout

#stage
  .box
    #search_place
      = form_for places_path, :method => :get do |f|
        = text_field_tag :name, nil, :class => :textbox, :id => :place_search_box, :placeholder => "Search a restaurant...", :value => params[:name]
        = submit_tag "Go", :class => "button green", :id => :start_search, :name => nil
        
        %ul#search_criteria.clearfix
          %li
            = text_field_tag :street_address, nil, :class => :textbox, :placeholder => "Street name..."
          %li
            = text_field_tag :city, nil, :class => :textbox, :placeholder => "City..."
          %li
            = text_field_tag :state, nil, :class => :textbox, :placeholder => "State..."
          %li.last
            = text_field_tag :zipcode, nil, :class => :textbox, :placeholder => "Zip code..."
      
    %ul.places_listing
      - @places.each do |place|
        %li.clearfix.white.place
          = link_to place_path(place) do
            = image_tag place.primary_image, :class => :place_photo
          .place_overview
            = link_to place.name, place_path(place), :class => :place_name
            .place_short_description
              = truncate(place.description, :length => 350)
              = link_to "more", place_path(place)
            .place_location #{place.city}, #{place.state}
          .place_other_info
            .clearfix.ratings= place.rating_average
            .comments
              %span 0 
              %span.caption comments
            
            .visits
              %span 2 
              %span.caption visits
            
  
  = will_paginate @places