- @title_for_layout = "#{@place.name}"
- @body_id = "places"

= render :partial => "shared/header"

%h1{:style => "margin-bottom:5px"}= @title_for_layout
%span #{@place.street_address}, #{@place.city}, #{@place.state}

#stage
  #left
    #picture
      #frame
        - if @place.primary_image.nil?  
          = image_tag "restaurant_silhouette.png"
        - else
          = image_tag @place.primary_image
    
    %br
    
    %ul.box#place_general_info
      %li
        %b Price:
        = "$" * @place.price_range.to_i
        
      %li
        %b Phone:
        = @place.phone_number.blank? ? "N/A" : @place.phone_number

      %li
        %b Website:
        - if @place.website.blank?
          N/A 
        - else
          %a{:href => @place.website, :target => "_blank"}= @place.website
        
    .box
      %h2 Ratings
      = ratings_for @place
  
  #right
  
    .box#map_container
      
      .tabs_wrapper.clearfix
        %ul.tabs
          %li.current{:tab => :map} Map
          %li{:tab => :street_view} Street View
      
        #interaction_like.interaction{:user_id => current_user.id, :place_id => @place.id, :kind => :like, :class => current_user.like_place?(@place) ? "green button" : "white button"}
          %span I like this place
      
        #interaction_visit.interaction{:user_id => current_user.id, :place_id => @place.id, :kind => :visit, :class => current_user.has_visited_place?(@place) ? "green button" : "white button"}
          %span I've been here
      
      #map.tab_content
      #street_view.tab_content{:style => "display:none"}
  
    .box
      %h2 Description
      %p= @place.description
            
    .box
      %h2 Hours
      %p= @place.hours.blank? ? "Not specified" : @place.hours
      
    .box
      %h2 Parking
      %p= @place.parking.blank? ? "Not specified" : @place.parking
      
    .box
      %h2 Payment
      %p= @place.payment.blank? ? "Not specified" : @place.payment
  
  .clearfloat
  
= content_for :head do
  = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false"
  
:javascript
  var geocoder, map, street_view, panorama

  var address = "#{@place.street_address}, #{@place.city}, #{Carmen.country_name @place.country}";

  function initialize() {
    geocoder = new google.maps.Geocoder();

    geocoder.geocode({'address': address}, function(results, status){

      if (status == google.maps.GeocoderStatus.OK) {

        var myOptions = {
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        map = new google.maps.Map(document.getElementById("map"), myOptions);

        map.setCenter(results[0].geometry.location);

        var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        })

        var panoramaOptions = {
          position: results[0].geometry.location,
          pov: {
            heading: 34,
            pitch: 10,
            zoom: 1
          }
        }

        panorama = new google.maps.StreetViewPanorama(document.getElementById("street_view"), panoramaOptions)

        street_view = new google.maps.Map(document.getElementById("street_view"))

        street_view.setStreetView(panorama)

      } else {
        //TO BE IMPLEMENTED
        alert('geocoding failed')
      }
    })

  }

  google.maps.event.addDomListener(window, 'load', initialize)