<!DOCTYPE html>
<html>
<head>
  <title><%= @title_for_layout %> - Dating Over Meal</title>
  <%= stylesheet_link_tag    "master" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= @body_id %>">

<div id="content">
<%= yield %>
</div>

<footer>
  Copyright &copy; 2011 - Dating Over Meal
</footer>

</body>
</html>
