<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= @title_for_layout %> - Dating Over Meal</title>
  <%= stylesheet_link_tag    "master" %>
  <%= stylesheet_link_tag    "ajaxful_rating.css", "fullcalendar.css", "jquery-ui-1.8.16.custom.css", "jquery.qtip.min.css" %>
  <%= yield :head %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body id="<%= @body_id %>">

<div id="content">
<%= yield %>
</div>

<div id="overlay" style="display:none"></div>

<div id="alert" style="display:none" class="yellow">
  <div class="content" id="alert_content"></div>
</div>

<div id="error" style="display:none" class="red">
  <div class="content" id="error_content"></div>
</div>

<footer id="footer">
  <div id="footer_content" class="clearfix">
    <%= image_tag "dom_logo_small.png", :id => :footer_logo %>
    <div id="copyright_statement">
      <p>
        &copy; 2011 Dating over Meal. All rights reserved.
        <br>
        Dating over Meal is open-sourced on Github and welcomes all forks and pull requests
      </p>
    </div>
    <div id="social_presence">
      <%= image_tag "twitter.png" %>
      <%= image_tag "facebook.png" %>
    </div>
  </div>
</footer>

</body>
</html>
