<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= @title_for_layout %> - Dating Over Meal</title>
  <%= stylesheet_link_tag    "master" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= @body_id %>">

<div id="content">
<%= yield %>
</div>

<div id="overlay" style="display:none"></div>

<footer id="footer">
  Copyright &copy; 2011 - <%= link_to "Dating Over Meal", root_path %>
</footer>

</body>
</html>
